/* body {
    transition: all 2s;
} */

h1 {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*      Sudoku field     */
table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.game-table {
    margin: 80px auto;
    width: 700px;
    height: 700px;
    border: 2px solid black;
    font-size: 36px; 
}

.game-cell {
    cursor: pointer;
    width: 11.1%;
    height: 11.1%;
    color: #333;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
    font-weight: bold;
}
.game-cell:hover {
    background-color: rgb(228, 228, 228);
}
.chosen {
    background: #bbdefb;
}
.mistake {
    background: #ca4747;
}
.mistake:hover {
    background: #ac3c3c;
}
.correct {
    background: #7fc054;
}
.correct:hover {
    background: #6da14a;
}



